<% provide(:title, @artist.name) %>
<h1>
	<%= image_tag("/assets/artava.png", height: "100", width: "100")%>
	<%=@artist.name%>
</h1>
<p><%=@artist.info%></p>

<div class="title-main">Songs:</div>
  <% @make.each do |make| %>
  	<div class="row-song">
  		<%= image_tag("/assets/music-32.png", height: "16", width: "16")%>
      	<%= link_to Music.find(make.music_id).name, Music.find(make.music_id) , target: "_self"%>
  	</div>
  	<div class="row-info">
  		<%= image_tag("/assets/singer.png", height: "16", width: "16")%>

  		<%Music.find(make.music_id).makes.each do |make1|%>
          <%= Artist.find(make1.artist_id).name%>,
        <% end%>

  		<span><%= image_tag("/assets/Like-32.png", height: "16", width: "16")%>168</span>
  	</div>
  <% end %>
  <div class="mpaging">
        <%=will_paginate @make, :param_name => 'page',:inner_window => 0,:outer_window => 0, style: "font-size:70%;padding:0px"%>  
  </div>
