<% provide(:title, @music.name) %>

<!-- player interface -->

<div class="player-song">

	<!-- info -->

	<div class="row-songplay" >
		<%= image_tag("/assets/listen.png", height: "32", width: "32")%>
		<%= @music.name%>
	</div>
	
	
	<div class="row-infoplay1">
		<%= link_to(image_tag("/assets/singer.png", :alt => "artist", height: "24", width: "24"), "#", target: "blank") %>
		 
		<%@make.each do |make|%>
	        <%=link_to Artist.find(make.artist_id).name,Artist.find(make.artist_id)%>,
	    <% end%>
	    	
		<%= image_tag("/assets/Like-32.png", height: "24", width: "24")%> 500
	</div>
    
	<!-- player -->
    
    <div class="player">
        <div class="hide-html5">
            <audio id="audio" controls="controls">
                <source src= <%=@music.m_src%> type="audio/mpeg" />
            </audio>
        </div> 
        <div id="play" class="play control">
        </div> 
        <div id="progress">
            <div id="progress_box">
                <div id="load_progress" style="width:0px;">
                    <div class="hand-control" id="hand_progress" style="left:-7px;">
                    </div>
                    <div id="play_progress" style="width:0px;">
                    </div>
                </div>
            </div>
        </div>
        <div id="play_time"> 
            <span id="current_time_display">00:00</span>
        </div>
    </div>
    <script type="text/javascript">
        bodyLoaded();
        document.getElementById("audio").addEventListener("ended",
                function() {
                    playAudio();
                }, false);
    </script>
    <div class="row-download">
        <%= image_tag("/assets/Like-32.png", height: "24", width: "24")%>
        <%= link_to "Like", ""%>
        <%= image_tag("/assets/download1.png", height: "24", width: "24")%>
		<%= link_to "Download", @music.m_src, :target => "_self"%>
	</div>    
</div>
<!-- lyric -->
<div class="title-main">Lyrics</div>
<div class="row-lyric"><%=@music.lyrics  %></div>
<!-- comment -->
<div class="title-main">Comments</div>
<!-- post -->
<%if signed_in?%>
    <div class="row-info">
        <%=render 'shared/comments_form'%>
    </div>
<%else%>
    <div class="row-lyric">
        <%=link_to "Sign in", signin_path%> to comment.
    </div>
<%end%>
<div>
    <!-- todo -->
    <%@comment.each do |comment|%>
        <div class="row-song">
            <%=gravatar_for_comment User.find(comment.user_id)%>
            <%= link_to User.find(comment.user_id).name, User.find(comment.user_id)%>
        </div>
        <div class="row-info">
            <%=comment.content%><br>
            <%=comment.created_at%>
        </div>
    <%end%>
    <div class="mpaging">
        <%=will_paginate @comment, :param_name => 'page',:inner_window => 0,:outer_window => 0, style: "font-size:70%;padding:0px"%>  
    </div>
    
</div>

<!-- related songs -->
<div class="title-main">Related songs</div>
<%@make.each do |make|%>
    <%Artist.find(make.artist_id).makes.each do |make1|%>
        <% if Music.find(make1.music_id).id!=@music.id %>
            <div class="row-song">
                <%= image_tag("/assets/music-32.png", height: "16", width: "16")%>
                <%= link_to Music.find(make1.music_id).name, Music.find(make1.music_id), target: "_self"%>
            </div>
            <div class="row-info">
                <%= image_tag("/assets/singer.png", height: "16", width: "16")%>

                <%Music.find(make1.music_id).makes.each do |make2|%>
                  <%= Artist.find(make2.artist_id).name%>,
                <% end%>

                <span><%= image_tag("/assets/Like-32.png", height: "16", width: "16")%>168</span>
            </div>
        <%end%>
    <%end%>
<%end%>


