<div data-role="header" data-position="fixed">
	<div class="header-logo">
		<%= link_to(image_tag("/assets/logo4.png", :alt => "logo",height: '48', width: '100'), root_path) %>
		<span class="header-text">Muzik</span>
	</div>

	<% if signed_in? %>
	    <div class="header-right-1">
			<%= link_to(image_tag("/assets/logout1.png", :alt => "sign out",height: '48', width: '48'), signout_path, method: "delete") %>
		</div>
	    <div class="header-right-2">
			<%= link_to(image_tag("/assets/setting.png", :alt => "setting",height: '48', width: '48'), edit_user_path(current_user)) %>
		</div>
		<div class="header-right-3">
			<%= link_to(image_tag("/assets/user3.png", :alt => "profile",height: '48', width: '48'), current_user) %>
		</div>	          
	<% else %>
		<div class="header-right-1">
			<%= link_to(image_tag("/assets/user3.png", :alt => "sign in",height: '48', width: '48'), signup_path) %>
		</div> 
	<% end %>

	<div data-role= "navbar">
		<ul>
			<li><a href="/" data-icon="home"  >Home</a></li>
			<li><a href=<%=mnew_path%>   data-icon="grid"  >New songs</a></li>
			<li><a href=<%=mtop_path%>   data-icon="star"  >Top songs</a></li>
			<li><a href=<%=singer_path%>   data-icon="search"  >Artists</a></li>
		</ul>	
	</div><!-- /navbar-->
	<p></p>

	<!-- search song & artist -->
	<ul id="autocomplete" data-role="listview" data-inset="true" data-filter="true" data-filter-reveal="true" data-filter-placeholder="Search here ..." data-count-theme="a" data-filter-theme="a" style="margin:15px" class="">
		<li data-role="list-divider"><a href=<%=root_path%>>Songs</a></li>
		<% @songs.each do |song|%>
			<li>
				<span>
				<%= image_tag("/assets/song.png", height: "16", width: "16")%>
				</span>
				<span>
					<%= link_to song.name, song %>
				</span>
			</li>
		<%end%>
		<li data-role="list-divider"><a href=<%=singer_path%>>Artists</a></li>
		<% @artists.each do |artist|%>
			<li>
				<span><%= image_tag("/assets/user2.png", height: "16", width: "16")%></span>
				<span><%= link_to artist.name, artist %></span>
			</li>
		<%end%>
	</ul>
</div><!-- /header -->