<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
	  <title>OnlineMusic | <%= yield(:title)%></title>
	  
	  <%= stylesheet_link_tag    "application","http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
      <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
      
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim'%>

	  <!-- now playing -->
	  <script type="text/javascript">
	  	nowpl_url="#";
	  	nowhost = window.location.host;
	  	function nowplayurl(){
	  		var nowurl= window.location.href;
	  		var n= nowurl.search("musics");
	  		if(n!=(-1)&(nowurl.substring(n).length)>7){
	  			nowpl_url=nowhost.concat(nowurl.substring(n-1));
	  		}
	  		window.alert(nowpl_url);
	  		//return nowpl_url;
	  	}
	  </script>
	</head>


	<body>
		<div data-role="page" id="home">
			<%= render 'layouts/header'%>
			<div data-role="content">
				<% flash.each do |key, value| %>
		          <div class="alert alert-<%= key %>"><%= value %></div>
		        <% end %>
				<%= yield %>				
			</div><!-- /content -->
			<%= render 'layouts/footer'	%>
			<%= debug(params) if Rails.env.development? %>
		</div><!-- /page home-->
	</body>
</html>
